# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.OGT5016 3D Project.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\PC\Documents\OGT5016-3D-Project\OGT5016 3D Project\.idea\.idea.OGT5016 3D Project\.idea/dataSources/
/dataSources.local.xml
